In [88]:
import pandas as pd

In [89]:
df=pd.read_csv(r"D:\IMDB Dataset.csv")

In [90]:
df.head(10)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing, fresh & innovative i...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

In [91]:
df=df.sample(10000)

In [92]:
df

                                                  review sentiment
12076  The Simpsons of course started off with Christ...  positive
29278  Thanks to silly horror movies like "Troll" and...  negative
19516  I will never forget this film or the events th...  positive
2084   Spirit and Chaos is an artistic biopic of Miya...  positive
5535   It's hard to say which comes out on top, James...  positive
...                                                  ...       ...
6398   George Hilton never really grabs me like Franc...  positive
5278   Fun movie! Great for the kids - they found it ...  positive
19660  Brilliant! My wife and I joined the sprawling ...  positive
34370  Eugene O'Neill's 4 and a half hour 1927 play b...  negative
9589   First of all, I really can't understand how so...  negative

[10000 rows x 2 columns]

## 1st step is to convert it to lowercase

In [93]:
df['review']= df['review'].str.lower()

In [94]:
df['review']

12076    the simpsons of course started off with christ...
29278    thanks to silly horror movies like "troll" and...
19516    i will never forget this film or the events th...
2084     spirit and chaos is an artistic biopic of miya...
5535     it's hard to say which comes out on top, james...
                               ...
6398     george hilton never really grabs me like franc...
5278     fun movie! great for the kids - they found it ...
19660    brilliant! my wife and i joined the sprawling ...
34370    eugene o'neill's 4 and a half hour 1927 play b...
9589     first of all, i really can't understand how so...
Name: review, Length: 10000, dtype: object

## 2nd step is  Removing unwanted HTML tags using Regular expression

In [95]:
import re

def remove_html_tags(text):
    pattern = re.compile(r'<.*?>')
    return pattern.sub('', text)

In [96]:
df['review'] = df['review'].apply(remove_html_tags)

In [97]:
# df['review'][22455]

### Remove URL's

In [98]:
def remove_url(texts): 
    pattern=re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',texts)

In [99]:
text1='check out my new videos https://www.kaggle.com/code/campusx/text-preprocessing/script'
text2='check out my movie http://www.kaggle.com/code/campusx/text-preprocessing/script'
text3='Check kado ek bar mere videos www.google.com'

In [100]:
print(remove_url(text1))
print(remove_url(text2))
print(remove_url(text3))

check out my new videos
check out my movie
Check kado ek bar mere videos

### 3rd step is Remove Punctuation

In [101]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [102]:
exclude=string.punctuation

In [103]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, ' ')
    return text

In [104]:
text = """
Wow!!! This movieâ€”released in 1999â€”was absolutely mind-blowing.
I mean, seriously... the plot, the acting, the direction???
At first, I thought: "Is this going to be boring?" ðŸ¤”
But NOâ€”within 10 minutes, I was hooked!!!
However, there were a few issues: pacing was slow in parts,
some scenes dragged on... and the endingâ€”well, let's just say
it wasn't perfect; but still, I'd rate it 8/10!!!
Would I recommend it? Yes, definitely!!!
"""

In [105]:
# text = 'string.with.punctuation?'

start = time.time()
print(remove_punc(text))
time1 = time.time() - start

print("Time taken:", time1)

Wow    This movieâ€”released in 1999â€”was absolutely mind blowing
I mean  seriously    the plot  the acting  the direction
At first  I thought   Is this going to be boring   ðŸ¤”
But NOâ€”within 10 minutes  I was hooked
However  there were a few issues  pacing was slow in parts
some scenes dragged on    and the endingâ€”well  let s just say
it wasn t perfect  but still  I d rate it 8 10
Would I recommend it  Yes  definitely

Time taken: 0.0

In [106]:
# or 


def remove_punuc1(text): 
    return text.translate(str.maketrans('','',exclude))

In [107]:

start = time.time()
print(remove_punuc1(text))
time2 = time.time() - start

print("Time taken:", time2)

Wow This movieâ€”released in 1999â€”was absolutely mindblowing
I mean seriously the plot the acting the direction
At first I thought Is this going to be boring ðŸ¤”
But NOâ€”within 10 minutes I was hooked
However there were a few issues pacing was slow in parts
some scenes dragged on and the endingâ€”well lets just say
it wasnt perfect but still Id rate it 810
Would I recommend it Yes definitely

Time taken: 0.0

## Chat word treatment

In [ ]:
slang_dict = {}

with open("slang.txt", "r", encoding="utf-8") as file:
    for line in file:
        line = line.strip()
        if not line or "=" not in line:
            continue
        key, value = line.split("=", 1)
        slang_dict[key.strip()] = value.strip()

In [ ]:
slang_dict

In [ ]:
def chat_conversion(text):
    new_text = []
    
    for word in text.split():
        if word.upper() in slang_dict:
            new_text.append(slang_dict[word.upper()])
        else:
            new_text.append(word)
    
    return " ".join(new_text)

In [ ]:
chat_conversion('WTF you are doing')

In [ ]:
chat_conversion('Plese W8 for me ')

## Spelling Correction

In [ ]:
from textblob import TextBlob
# !pip install textblob

In [ ]:
incorrect_text= 'ceertain conditionss dureng seveal genaretions are modifeid in the samee manrer'
textBlb=TextBlob(incorrect_text)
textBlb.correct().string

## Removing stop words

In [ ]:
from nltk.corpus import stopwords

In [ ]:
stopwords.words('English')

In [ ]:
 from nltk.corpus import stopwords
def remove_stopwords(text):        
    stop_words = set(stopwords.words('english')) # Convert to set for faster lookup
    words = [word for word in text.split() # List comprehension for cleaner code
             if word.lower() not in stop_words]
    return " ".join(words)


# Alternet 
    
    # def remove_stopwords(text):
    # from nltk.corpus import stopwords
    # stop_words = set(stopwords.words('english'))
    
    # new_text = []
    # for word in text.split():
    #     if word.lower() not in stop_words:  # Convert to lowercase for matching
    #         new_text.append(word)
    
    # return " ".join(new_text)

In [ ]:
remove_stopwords('Probably my all-time favourite movie, a story of selfness, sacrifice and dedication to a noble cause')

In [109]:
df['review'].apply(remove_stopwords)

12076    simpsons course started christmas special "sim...
29278    thanks silly horror movies like "troll" indesc...
19516    never forget film events lead jonestown guyana...
2084     spirit chaos artistic biopic miyazawa kenji, j...
5535     hard say comes top, james cagney's charm energ...
                               ...
6398     george hilton never really grabs like franco n...
5278     fun movie! great kids - found entertaining. so...
19660    brilliant! wife joined sprawling line see holl...
34370    eugene o'neill's 4 half hour 1927 play brought...
9589     first all, really can't understand people "enj...
Name: review, Length: 10000, dtype: object

In [110]:
df

                                                  review sentiment
12076  the simpsons of course started off with christ...  positive
29278  thanks to silly horror movies like "troll" and...  negative
19516  i will never forget this film or the events th...  positive
2084   spirit and chaos is an artistic biopic of miya...  positive
5535   it's hard to say which comes out on top, james...  positive
...                                                  ...       ...
6398   george hilton never really grabs me like franc...  positive
5278   fun movie! great for the kids - they found it ...  positive
19660  brilliant! my wife and i joined the sprawling ...  positive
34370  eugene o'neill's 4 and a half hour 1927 play b...  negative
9589   first of all, i really can't understand how so...  negative

[10000 rows x 2 columns]

## Handling emojies

In [111]:
#  To remove emoji 
import emoji

def remove_emoji(text):
    return emoji.replace_emoji(text, replace=' ') # Remove all emojis

def remove_emoji_simple(text):# Or if you want to keep only text
    return emoji.demojize(text)

In [112]:
text_with_emojis = "Hello! ðŸ˜Š I'm feeling great today! ðŸŽ‰ Let's meet at 5pm! ðŸ“…"
print("Original:", text_with_emojis)
print("Cleaned:", remove_emoji(text_with_emojis))
print("Cleaned:", remove_emoji_simple(text_with_emojis))

Original: Hello! ðŸ˜Š I'm feeling great today! ðŸŽ‰ Let's meet at 5pm! ðŸ“…
Cleaned: Hello!   I'm feeling great today!   Let's meet at 5pm!
Cleaned: Hello! :smiling_face_with_smiling_eyes: I'm feeling great today! :party_popper: Let's meet at 5pm! :calendar:

## Tokenization

 ### Using Split function

In [113]:
sent1="I am going to Delhi"
sent1.split()

['I', 'am', 'going', 'to', 'Delhi']

In [114]:
#Sentence tokenization 
sent2= "I am going to Delhi. I will there for 3 days. Let's hope the trip to be great"
sent2.split('.')

['I am going to Delhi',
 ' I will there for 3 days',
 " Let's hope the trip to be great"]

In [115]:
#Problem with Split function 
sent3= "I am goinig to Delhi!"
print(sent3.split()) # "!" is with the Delhi, but has to be a specific symbol like "Delhi","!"
sent4= " Where are you right now? please come fast"
sent4.split(".")

['I', 'am', 'goinig', 'to', 'Delhi!']

[' Where are you right now? please come fast']

### Using Regular Expression

In [116]:
import re 
sent3 = "I am going to Delhi!"
tokens= re.findall("[\w]+", sent3)
tokens

['I', 'am', 'going', 'to', 'Delhi']

## Using Library NLTK

In [117]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [118]:
print(word_tokenize(sent1))
print(word_tokenize(sent3))

['I', 'am', 'going', 'to', 'Delhi']
['I', 'am', 'going', 'to', 'Delhi', '!']

In [119]:
#Problem of NLTK

sent5="I have a Ph.d in A.I"
sent6="We're here to help! mail us at azad@gmail.com"
sent7="A 5km ride cost $10.50"

print(word_tokenize(sent5))
print(word_tokenize(sent6)) # problem 
print(word_tokenize(sent7)) #problem

['I', 'have', 'a', 'Ph.d', 'in', 'A.I']
['We', "'re", 'here', 'to', 'help', '!', 'mail', 'us', 'at', 'azad', '@', 'gmail.com']
['A', '5km', 'ride', 'cost', '$', '10.50']

## Using Spacy Library

In [135]:
import spacy
nlp=spacy.load('en_core_web_sm')

In [136]:
nlp(sent6)

We're here to help! mail us at azad@gmail.com

In [137]:
doc = nlp(sent6)

for token in doc:
    print(token.text)

We
're
here
to
help
!
mail
us
at
azad@gmail.com

In [138]:
for token in doc:
    print(token.text, token.pos_, token.is_punct)

We PRON False
're AUX False
here ADV False
to PART False
help VERB False
! PUNCT True
mail VERB False
us PRON False
at ADP False
azad@gmail.com X False

In [139]:
[token.text for token in doc]

['We', "'re", 'here', 'to', 'help', '!', 'mail', 'us', 'at', 'azad@gmail.com']

## Stemming

In [140]:
from nltk.stem.porter import PorterStemmer

In [141]:
ps=PorterStemmer()
def stem_words(text): 
    return " ".join([ps.stem(word)for word in text.split()])

In [142]:
sample= "Walk walks walking walked"
stem_words(sample)

'walk walk walk walk'